/* main, img goes center bottom, top changes color depending on answer, hover screen start, result-end div */
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

* {
  font-family: "Pangolin", cursive;
  letter-spacing: 0.3em;
}

html,
body {
  margin: 0;
  padding: 0;
  
}

img {
  max-width: 50%;
}

body {
  /* padding-top: 1em; */
  text-align: center;
  background-color: rgb(118 185 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  border: none;
  appearance: none;
  display: inline;
  background-color: rgb(247 178 189);
  color: white;
  font-size: 1.5em;
  padding: 5px 100px;
  border-radius: 8px;
}
button { 
  transition-duration:1s;
}

button:hover {
  font-size: 1.5em;
  background-color: pink;
}

button:hover .meow {
  display:none;
}

button:hover .meow:after {
  content: 'meow';
}

.front-screen {
  padding: 1px;
  position: fixed;
  top: 50%;
  left: 50%;

}

.top-starttext {
  color: white;
}

.mid-starttext {
  color: white;
}

.end-screen {
  padding: 1px;
  position: fixed;
  top: 50%;
  left: 50%;

}
.end-screen button {
  
}
.overlay {
  position: fixed;
  display: flex;
  background: rgba(118, 185, 240, 0.625);

}


.overlay .close{
  border: none;
  appearance: none;
  display: inline;
  background-color: rgb(247 178 189);
  color: white;
  font-size: 1.5em;
  padding: 5px 100px;
  border-radius: 8px;
  position: absolute;
  overflow:hidden;
  z-index: 5;
}
.results-endtext {
  color: white;
}
.main {
  max-width: 65;
  max-height: auto;
  margin: 0 auto;
}

.container {
  max-width: 60em;
  max-height: auto;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
  background-color: rgb(205 194 254);
  display: flex;
  position: relative;
  /* width: 832px;
  height: 468px;
  aspect-ratio: 832/468; */
  /* width: 100vh;
  height: 100vh; */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cat {
  /* position: absolute; */
  max-width: auto;
  /* aspect-ratio: 624/468; */
  max-height: auto;
}

.top-center {
  position: absolute;
  left: 0%;
  top: 1%;
  right: 0%;
  bottom: auto;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  /* width: 700px;
  height: 100px; */
  max-width: 50em;
  /* min-height: 5em; */
  /* padding: .5em; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(27, 15, 4);
  color: white;
}
/* 
.column {
  
} */
.keys-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: flex;
  max-width: 5em;
  /* width: 400px;
  height: 100px; */
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  /* background-color: chartreuse; */
}

.pressed-keys {
  line-height: 0.8em;
  font-size: smaller;
}

.keys-display {
  line-height: .5em;
}

#output {
  font-family: Arial, Helvetica, sans-serif;
  font-size:.6em;
  /* border: 1px solid black; */
}

.fade-away {
  opacity: 1;
  transition: opacity 1s;
}

.fade-away.fade {
  opacity: 0;
}

.gianthand {
  z-index: 2;
  position: absolute;
  text-align: left;
  /* animation-name: shine;
  animation-duration: 5s;
  animation-iteration-count: 1; */
}

.gianthand img {
  max-width: 75%;
  margin-left: -20% !important;
  margin-top: -20% !important;
  overflow: hidden;
  animation-name: shine;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes shine {
  0% {
    transform: translatex(-100px) translatey(-200px);
  }
  100% {
    transform: translatex(1200px) translatey(500px);
  }
}
/* 
.cat img {
  max-width: 75%;
  max-height: 150px;
}
 */
