@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

/* rgb(118 185 240) blue  
rgb(247 178 189) pink
rgb(186 220 172) green
*/
:root {
  --light-blue: rgb(118 185 240);
  --light-pink: rgb(247 178 189);
  --light-green: rgb(186 220 172);
  --light-purp: rgb(205 194 254);
}
* {
  font-family: "Pangolin", cursive;
  letter-spacing: 0.3em;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 50%;
}

body {
  /* padding-top: 1em; */
  text-align: center;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  border: none;
  appearance: none;
  display: inline;
  background-color: var(--light-pink);
  color: white;
  font-size: 1.5em;
  padding: 10px 100px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
button {
  transition-duration: 1s;
}

button:hover {
  font-size: 1.5em;
  background-color: var(--light-purp);
}

button::after {
  content: "PLAY GAME";
}

button:hover:after {
  content: "meow";
}
/* button:hover .meow {
  display: none;
} */

.front-screen {
  padding: 1px;
  position: fixed;
  top: 50%;
  left: 50%;
}

/* .top-starttext {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 20px;
}

.mid-starttext {
  color: white;
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 6em;
  text-shadow: 2px 5px 2px rgb(205 194 254);
}

.heading {
  color: white;
}

#directions {

} */

.end-screen {
  padding: 1px;
  position: fixed;
  top: 10%;
  left: 50%;
}
/* .end-screen button {
  
} */
.results-endtext {
  color: white;
}
.main {
  max-width: 65;
  max-height: auto;
  margin: 0 auto;
}

.container {
  max-width: 60em;
  max-height: auto;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
  background-color: var(--light-purp);
  display: flex;
  position: relative;
  /* width: 832px;
  height: 468px;
  aspect-ratio: 832/468; */
  /* width: 100vh;
  height: 100vh; */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlay {
  position: fixed;
  display: flex;
  background: rgba(118, 185, 240, 0.838);
  width: 40em;
  height: 25em;
  z-index: 4;
  transform: translateX(-50%);
  /* transform: translateY(50%) */
}

.overlay .close {
  border: none;
  appearance: none;
  display: inline;
  background-color: var(--light-pink);
  color: white;
  font-size: 1.5em;
  padding: 5px 100px;
  border-radius: 8px;
  position: absolute;
  overflow: hidden;
  transform: translateX(-50%);
  z-index: 5;
}
.cat {
  /* position: absolute; */
  max-width: auto;
  /* aspect-ratio: 624/468; */
  max-height: auto;
}

.top-center {
  position: absolute;
  left: 0%;
  top: 1%;
  right: 0%;
  bottom: auto;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  /* width: 700px;
  height: 100px; */
  max-width: 50em;
  /* min-height: 5em; */
  /* padding: .5em; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(27, 15, 4);
  color: white;
}
/* 
.column {
  
} */
.keys-wrapper {
  position: absolute;
  /* padding-left: %; */
  top: auto;
  right: auto;
  left: 0%;
  bottom: 0%;
  display: flex;
  max-width: 15em;
  align-items: center;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: chartreuse; */
}

.pressed-keys {
  padding-left: 10%;
  font-size: 1.5em;
  color: var(--light-blue);
  /* display: inline-block; */
}

.keys-display {
  /* line-height: 14px; */
  /* font-size: 30px; */
  font-size: 1.3em;
  margin-top: 0%;
  padding-top: 1%;
  color: white;
  /* display: inline-block; */
}

#output {
  font-family: "Pangolin", cursive;
  text-shadow: 0.1em 0.1em 0.2em black;
  /* border: 1px solid black; */
}

.fade-away {
  opacity: 1;
  transition: opacity 1s;
}

.fade-away.fade {
  opacity: 0;
}

.gianthand {
  z-index: 2;
  position: absolute;
  text-align: left;
  /* animation-name: shine;
  animation-duration: 5s;
  animation-iteration-count: 1; */
}

.gianthand img {
  max-width: 100%;
  margin-left: -50% !important;
  margin-top: -30% !important;
  overflow: hidden;
  animation-name: shine;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes shine {
  0% {
    transform: translatex(-100px) translatey(-200px);
  }
  100% {
    transform: translatex(1200px) translatey(500px);
  }
}
/* 
.cat img {
  max-width: 75%;
  max-height: 150px;
}
 */

.results-endtext {
  margin: 7% 10% 5% 10%;
  line-height: 2em;
  font-size: 1.5em;
  color: white;
}

.again-button {
  transition-duration: 1s;
}

.again-button:hover {
  font-size: 1.5em;
  background-color: var(--light-purp);
}

.again-button::after {
  content: "AGAIN!";
}

.again-button:hover:after {
  content: "meow";
}

.top-starttext {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 20px;
}

.mid-starttext {
  color: white;
  margin-top: 2%;
  margin-bottom: 0%;
  font-size: 6em;
  text-shadow: 2px 5px 2px rgb(205 194 254);
}

.heading {
  color: white;
  margin: 1% 10% 5% 10%;
  font-size: 1.4em;
  font-style: italic;
}

.directions {
  display: block;
  margin: 5% 10%;
}

.directions-overlay {
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center;
   */
  margin-right: 10%;
  margin-left: auto;
  padding: 0.5% 0.5% 0.5% -5%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--light-purp);
}
.directions:hover .directions-overlay {
  opacity: 1;
}

ul {
  margin-right: 4%;
}

#dir li {
  list-style-type: none;
}

/* .mutebox {
  display: flex;
  margin: 3%;
  z-index: 10;
} */

input {
  width: 1em;
}
.switch {
  position: relative;
  display: inline-block;
  left: 46%;
  margin: 2%;
  width: 4em;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: .48em;
  bottom: .3em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--light-purp);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--light-purp);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
